@{ 
    Layout = null;
}


<html ng-app="fsaWayPageApp">
<head>
    <title></title>
	
    <base href="/" />
    
    <meta charset="utf-8" />



</head>
<body ng-controller="MainController as main">
    @DateTime.Now.ToLongTimeString()

    <h1>FSAWay Skeleton Outline</h1>

    <a href="/about">About Page</a> |<a href="/support">Support Page</a> | <a href="/login">Login Page</a> | <a href="/registration">Registration Page</a> | <a href="/terms">Terms Page</a> |
    <a href="/products">Products Page</a> | <a href="fsacheck">FSACheck Page</a> | <a href="/persbalance">Personal Balance Page</a>

    <ng-view></ng-view>

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/fsApps/app.js"></script>
    <script src="~/fsApps/controllers.js"></script>





</body>
</html>
