

<div id="wowslider-container1">
    <div class="ws_images">
        <ul>
            <li><img src="../../Content/data1/images/comoaceitarcartao.jpg" alt="Find participating drugstores" title="Find participating drugstores" id="wows1_0" /></li>
            <li><img src="../../Content/data1/images/missiondinformationsurlorganisationdelapermanencedessoins.jpg" alt="Check your FSA balance" title="Check your FSA balance" id="wows1_1" /></li>
            <li><img src="../../Content/data1/images/nicorettelozengeshortage.jpg" alt="Which products qualify" title="Which products qualify?" id="wows1_2" /></a></li>
            <li><img src="../../Content/data1/images/yourproductindiesvschain.jpg" alt="Find products on sale" title="Find products on sale" id="wows1_3" /></li>
        </ul>
    </div>
    <div class="ws_bullets">
        <!--<div>
            <a href="#" title="Find participating drugstores"><span><img src="data1/tooltips/comoaceitarcartao.jpg" alt="Find participating drugstores" />1</span></a>
            <a href="#" title="mission-d-information-sur-l-organisation-de-la-permanence-des-soins"><span><img src="data1/tooltips/missiondinformationsurlorganisationdelapermanencedessoins.jpg" alt="mission-d-information-sur-l-organisation-de-la-permanence-des-soins" />2</span></a>
            <a href="#" title="NicoretteLozengeShortage"><span><img src="data1/tooltips/nicorettelozengeshortage.jpg" alt="NicoretteLozengeShortage" />3</span></a>
            <a href="#" title="your-product-indies-vs-chain"><span><img src="data1/tooltips/yourproductindiesvschain.jpg" alt="your-product-indies-vs-chain" />4</span></a>
        </div>-->
    </div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.net">jquery slider</a> by WOWSlider.com v8.6</div>
    <div class="ws_shadow"></div>
</div>
<div>
<script type="text/javascript" src="../../Content/engine1/wowslider.js"></script>
<script type="text/javascript" src="../../Content/engine1/script.js"></script>
</div>




        <div class="col-md-12">
            <div class="row">
                <div class="container">
                    <div class="row">
                            <div class="jumbotron row4">
                                
                                <p>
                                    FSA Way is here to help you easily identify health-related nonprescription items that may qualify for payment with your Flexible Spending Account (FSA). Simply scan each product’s barcode, or do a lookup via search. FSA Way is a guide, please check with your FSA administrator for the exact guidelines for reimbursement for your plan.
                                </p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="jumbotron row1">
                        <center>
                            <h4>Participating drugstores</h4>
                            <img src="../../Content/Logo_Icons/Rite-Aid_square_large.png" />

                            <img src="../../Content/Logo_Icons/rssMCPXC_400x400.png" />
                        </center>
                    </div>
                </div>      
                <div class="col-md-4">
                    <div class="jumbotron row2">
                       
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="jumbotron row3">
                       <center><h4>Get your Free Account</h4>

                        <a href="/register"><img src=" ../../Content/Logo_Icons/register_now.png" /></a></center>
                    </div>
                </div>                
        </div>
    </div>



