



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <center><img src=" ../../Content/Logo_Icons/products_slide.png" />"</center>
            <p>
                List of eligible FSA products.</small>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            product 
        </div>
        <div class="col-md-4">
            product
        </div>
        <div class="col-md-4">
            product
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            product
        </div>
        <div class="col-md-4">
            product
        </div>
        <div class="col-md-4">
            product
        </div>
    </div>
</div>