@{ Layout = null;}

<html xmlns ng-app="fsaWayPageApp">
<head>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <meta name="viewport" content="initial-scale=1" />

    <title></title>
    <base href="/" />
    <meta charset="utf-8" />
</head>
<body ng-controller="IndexController as index" layout="column">
    @DateTime.Now.ToLongTimeString()

    <md-toolbar layout="row">
       
         <button ng-click="toggleSidenav('left')" hide-gt-sm class="menuBtn">
            <span class="visually-hidden">Menu</span>
        </button>

        <h1 class="md-toolbar-tools" layout-align-gt-sm="center">FSAWay Main Page</h1>
    </md-toolbar>
    <div layout="row" flex>
        <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">

        </md-sidenav>
    </div>
        <div layout="column" flex id="content">
            <md-content layout="column" flex class="md-padding">

            </md-content>
        </div>


        <h1>FSAWay Skeleton Outline</h1>

        <a href="/about">About Page</a> |<a href="/support">Support Page</a> | <a href="/login">Login Page</a> | <a href="/registration">Registration Page</a> | <a href="/terms">Terms Page</a> |
        <a href="/products">Products Page</a> | <a href="fsacheck">FSACheck Page</a> | <a href="/persbalance">Personal Balance Page</a>


        <ng-view></ng-view>

        <!-- Angular Material Dependencies -->
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script src="~/Scripts/angular-route.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.js"></script>
        <script src="~/fsApps/app.js"></script>
        <script src="~/fsApps/controllers.js"></script>
</body>
</html>
