
@{ 
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml" ng-app="FsaWayApp">


<head>

    
    <title></title>
    <base href="/" />

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->




</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src=" ~/Content/Logo_Icons/fsaway_logo.png" />
                </div>
            <div class="col-md-4">
                <h3>center logo space</h3>
                </div>
            <div class="col-md-4">
                <div class="btn-group">
                    <a href="http://www.twitter.com"><img src=" ~/Content/Logo_Icons/1446166867_new-twitter-logo-vector.png" /></a>
                    <a href="http://www.facebook.com"><img src="~/Content/Logo_Icons/1446166887_find-us-on-facebook-badge.png" /></a>
                </div>
            </div>
        </div>
            <div class="col-md-6">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="/home">Home</a>
                    </li>
                    <li>
                        <a href="/products">Products</a>
                    </li>
                    <li>
                        <a href="/register">Register</a>
                    </li>
                    <li>
                        <a href="/externalLogin">Login</a>
                    </li>
                    <li class="dropdown pull-right">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">More<strong class="caret"></strong></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/about">About Us</a>
                            </li>
                            <li>
                                <a href="/UserAdmin">Admin</a>
                            </li>
                            <li>
                                <a href="/privacy">Privacy Policy</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>


  
    <ng-view> </ng-view>













 
     <div>   
        <div class="row">
            <div class="col-md-12">
                <md-button>
                    <center>
                        <h5>
                            <a href="/">Home Page</a> | <a href="/about">About Page</a> | <a href="/register">Sign Up</a> | <a href="/terms">Terms Page</a> |
                            <a href="/products">Products</a> | <a href="/UserAdmin">Admin</a>
                        </h5>
                    </center>
                </md-button>
            </div>
        </div>
    </div>



       


    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>
    <script src="~/fsApps/app.js"></script>
    <script src="~/fsApps/controllers/controllers.js"></script>
    <script src="~/fsApps/services/services.js"></script>

    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>



</body>

</html>
