body {
 font-family:Tahoma;

}


.container {
    background-color:#ecf3ff;
}

div.container-fluid {
    background-color: #1486a6;
    
}

.jumbotron.row1 {
    background-color:#ecf3ff;
spending account}

.jumbotron.row2 {
    background-color:#ecf3ff;
}

.jumbotron.row3 {
    background-color:silver;
    color:#363733;
   
}